<nav style="background-color: #18453B; padding: 1em;">
  <a href="/" style="color: #FFFFFF; font-size: 24px; text-decoration: none;">
    Nault Research Tools
  </a>
  <div style="float: right;">
    <a href="/" style="color: #FFFFFF; margin-right: 20px; text-decoration: none;">Home</a>
    <a href="/tutorials.html" style="color: #FFFFFF; margin-right: 20px; text-decoration: none;">Tutorials</a>
    <a href="/tools.html" style="color: #FFFFFF; margin-right: 20px; text-decoration: none;">Tools</a>
  </div>
</nav>
